@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  -webkit-animation: spinnerAnimation 1000ms steps(32) infinite;
  animation: spinnerAnimation 1000ms steps(32) infinite;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
